main {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    border-radius: 12px;
}